<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.1.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit-1.6.xsd" default-autowire="byName">

	<!-- 加载配置属性文件 -->
	<context:property-placeholder ignore-unresolvable="true" location="classpath:jeesite.properties" />
	<!-- rabbitMQ配置 -->
	<bean id="rabbitConnectionFactory"
		  class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
		<constructor-arg value="${rabbitmq.host}"/>
		<property name="username" value="${rabbitmq.username}"/>
		<property name="password" value="${rabbitmq.password}"/>
		<property name="channelCacheSize" value="8"/>
		<property name="port" value="${rabbitmq.port}"></property>
	</bean>
	<rabbit:admin connection-factory="rabbitConnectionFactory"/>

	<rabbit:queue name="test123queue" durable="true" />
	<rabbit:queue name="test321queue" durable="true" />


	<rabbit:queue name="test1234queue" durable="true" />
	<rabbit:queue name="test4321queue" durable="true" />

	<!-- 该处把需要数据的队列与路由绑定一起，如果手动在控制台绑定就不需要此代码 -->
	<rabbit:fanout-exchange name="leo.pay.fanout.exchange" xmlns="http://www.springframework.org/schema/rabbit" durable="true">
		<rabbit:bindings>
			<rabbit:binding queue="test123queue"></rabbit:binding>
			<rabbit:binding queue="test321queue"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:fanout-exchange>


	<bean id="detailQueueConsumer" class="com.thinkgem.jeesite.consumer.DetailQueueConsumer"></bean>

	<bean id="testQueueConsumer" class="com.thinkgem.jeesite.consumer.TestQueueConsumer"></bean>


	<bean id="detailQueueConsumerTopic" class="com.thinkgem.jeesite.consumer.DetailQueueConsumerTopic"></bean>

	<bean id="testQueueConsumerTopic" class="com.thinkgem.jeesite.consumer.TestQueueConsumerTopic"></bean>

	<!-- 将两个队列加入监听容器中，每个队列的监听都对应一个监听器 -->
	<rabbit:listener-container connection-factory="rabbitConnectionFactory" concurrency= "4">
		<rabbit:listener queues="test123queue" ref="detailQueueConsumer" method="onMessage"/>
		<rabbit:listener queues="test321queue" ref="testQueueConsumer" method="onMessage"/>
		<rabbit:listener queues="test1234queue" ref="detailQueueConsumer" method="onMessage"/>
		<rabbit:listener queues="test4321queue" ref="testQueueConsumer" method="onMessage"/>
	</rabbit:listener-container>
	
</beans>